@model IEnumerable<ECommerce.Models.Articulo>

@{
    ViewData["Title"] = "Comprar artículos";
    <link rel="stylesheet" href="/css/index.css" />
}

@* diplock *@
<form asp-action="Index" asp-controller="Home" class="form-filtrar">
    <em>Buscar por nombre:</em>
    @Html.TextBox("nombre", "")
    <button type="submit" class="btn-filtrar">Filtrar</button>
</form>

<hr />


<div class="productos-container">
    @if (Model != null && Model.Any())
    {
        <div class="productos-grid">
            @foreach (var item in Model)
            {
                <div class="producto">
                    <img src="@Url.Content($"~/img/{item.IdArticulo}.jpg")" alt="@item.Nombre" />
                    <div class="producto-info">
                        <em>Nombre:</em>@Html.DisplayFor(modelItem => item.Nombre)
                        <br />
                        <em>Descripcion:</em>@Html.DisplayFor(modelItem => item.Descripcion)
                        <br />
                        <em>Precio: S/</em>@Html.DisplayFor(modelItem => item.Precio)
                        <br />
                        <em>Stock:</em>@Html.DisplayFor(modelItem => item.Stock)

                        <form asp-controller="Carrito" asp-action="AgregarAlCarrito" method="post">
                            <input type="hidden" name="articuloId" value="@item.IdArticulo" />
                            <button type="submit" class="btn btn-success btn-sm mt-2">Agregar al carrito</button>
                        </form>
                    </div>
                </div>
            }
        </div>

        <!-- Paginación -->
        @* <div class="pagination"> *@
        @*     @for (int i = 0; i < (int)ViewBag.pags; i++) *@
        @*     { *@
        @*         <a asp-action="Index" *@
        @*            asp-route-nombre=@ViewBag.nombre *@
        @*            asp-route-p=@i *@
        @*            class="@(i == (int)ViewBag.p ? "btn btn-success active" : "btn btn-primary")"> *@
        @*             @(i + 1) *@
        @*         </a> *@
        @*     } *@
        @* </div> *@
    }
    else
    {
        <p>No se encontraron articulos</p>
    }
</div>

